h1 {
	margin-bottom: 40px;
}
.container {
	width: 350px;
}

.remain {
	margin-top: 50px;
}

.complete {
	margin-top: 60px;
}

#tasks {
	margin: 4em 0;
}

li {
	background-color: #FAFAFA !important;
}

li button {
	font-weight: bold;
	background: none;
	border: 0;
	padding: 0;
	float: right;
	margin-left: 10px;
}

.red {
	color: #ff0000;
}

.green {
	color: #00BC2F;
}

.btn {
	float:right;
}


p.links {
	margin-top: 100px;
	font-size: 85%;
	color: #888;
}

p.links a {
	color: #888;
}