<!DOCTYPE html>
<html>
<head>
    <title>Vue.js • Task Manager</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="app.css">
</head>
<body>

<div class="container">
    <div id="tasks">
        <h1 class="text-center">Task manager</h1>
        <div v-show="remaining.length"
             class="remain">
            <h4>Tasks ({{ remaining.length }})</h4>
            <ol class="list-group">
                <li v-repeat="task in tasks | inProcess"
                    class="list-group-item">
                <span v-on="dblclick: editTask(task)">{{ task.body }}</span>
                <button v-on="click: removeTask(task)">&#10007;</button>
                <button v-on="click: toggleTaskCompletion(task)">&#10004;</button>
                </li>
            </ol>
        </div>

        <form v-on="submit: addTask">
            <div class="form-group">
                <input v-model="newTask"
                       v-el="newTask"
                       class="form-control"
                       placeholder="I need to..."></input>
            </div>
            <button class="btn btn-primary">Add task</button>
            <button v-if="remaining.length > 1"
                    v-on="click: completeAll"
                    class="btn btn-default">
            Mark all as completed?
            </button>
        </form>

        <div v-if="completions.length"
             class="complete">
            <h4>Completed ({{ completions.length }})</h4>
            <ol class="list-group">
                <li v-repeat="task in tasks | filterBy true in 'completed'"
                    class="list-group-item">
                    {{ task.body }}
                    <button v-on="click: toggleTaskCompletion(task)">&#11119;</button>
                </li>
            </ol>
            <button v-on="click: clearCompleted"
                    class="btn btn-danger"
            >
            Clear Completed
            </button>
        </div>

        <!-- pre>{{ $data | json }}</pre -->

        <p class="links text-center">
            <a href="https://laracasts.com/series/learning-vuejs/episodes/1">https://laracasts.com/series/learning-vuejs/episodes/1</a> <br/>
            <a href="https://github.com/kratka83/kratka83.github.io/tree/master/vuejs-task">github</a>
        </p>
    </div>
</div>

    <script src="http://cdnjs.cloudflare.com/ajax/libs/vue/0.12.16/vue.min.js"></script>
    <script src="store.js"></script>
    <script src="app.js"></script>
</body>
</html>
